.detail-daemon-more-accordion {
    margin-top: 1em !important;
}

.detail-daemon-mode {
	margin-left: 3em !important;
	width: 75% !important;
}

.detail-daemon-smooth {
	margin-left: 3em !important;
}

.detail-daemon-vis {
	margin: auto !important;
}

.detail-daemon-help {
	margin: auto 1.5em !important;
}
